<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/fullcalendar-3.1.0/fullcalendar.css' />
  <link rel="stylesheet" href="/css/style.css">
  <!-- <link rel="stylesheet" href="/css/jsmodal-light.css"> -->
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <script src='/js/jquery-3.1.1.min.js'></script>
  <script src='/js/moment.min.js'></script>
  <script src='/fullcalendar-3.1.0/fullcalendar.js'></script>

  <title><%= user.username %></title>
</head>
<body>

<div class="userContainer">
  <div id="userInfo">
    <h1><%= user.username %></h1>
    <a href="/logout">Logout</a>
  </div>

</div>
<div class="fullWidthContainer">
  <div id="userCalendars">
    <div id="calendarsContainer">
      <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
      <h1 style="display:inline-block">Calendars</h1>
      <ul id="userCalendarList">
      <% for(var i=0;i<calendars.length;i++){ %>
        <li ><a href="#" class="calendar_options"    id="<%= calendars[i].id%>" identifier="<%=calendars[i].password %>"><%= calendars[i].name %></a></li>
      <% } %>
      </ul>


    </div>
    <div id="addCalendar">
      <h2>Add Calendar</h2>
      <form action="" method="post">
        <h3>Name</h3>
        <input type="text" name="name" required>
        <input type="hidden" name="user_id" value="<%= user.id %>">
        <input type="submit" value="Create Calendar" id="addCalendarButton">
      </form>

      <a href="#" id="joinCalendar" tooltip="Ask for an invite code to be added to another user's calendar!">
        <h3 style="display:inline-block">Join Calendar</h3>
        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
      </a>

    </div>

    <div id="calendarUsers">
      <h2 style="display:inline-block;margin-right:5px">Members</h2><i class="fa fa-user-circle" aria-hidden="true"></i>
      <ul></ul>
    </div>
  </div>

    <div class="mainContainer">
      <div id="calendar"></div>


      <div class="addEvent">
        <h1>Create an Event</h1>
        <form action="" method="post">
          <input type="text" name="title" value="">
          <input type="text" name="start" value="">
          <textarea name="description" rows="4" cols="80"></textarea>
          <input type="submit" name="" value="Create Event" id="addEventButton">
        </form>
      </div>
    </div>

</div>

<div id="overlay" style="display:none"></div>
<div id="modal" style="display:none">
  <a href="#" id="closeModal"><i class="fa fa-times" aria-hidden="true"></i></a>
  <h1 id="modalTitle"></h1>
  <div id="modalDescription" style="display:none"></div>
  <div id="eventComments" style="display:none">
    <div id="addComment">
      <form action="" method="post">
        <!-- <input type="text" name="event_comment" required> -->
        <textarea name="event_comment" rows="8" cols="80" placeholder="comment..." required></textarea>
        <input type="hidden" name="eventId" val="" id="eventId">
        <input type="submit"  value="Add comment" id="addCommentButton">
      </form>
    </div>
  </div>

  <div id="joinCalendarContainer" style="display:none"><h1>Calendar Invite Code</h1><form action=""> <input type="text" name="password" value=""><input type="hidden" name="user_id" value="<%= user.id %>"><input type="submit" name="" id="joinCalendarButton" value="Join">
  </form><p>Request an invite code to join another user's calendar.</p>
  </div>
</div>


<!-- <script src="/js/jsmodal-1.0d.min.js" charset="utf-8"></script> -->
<script src="/js/script.js" charset="utf-8"></script>
</body>
</html>
